@import "compass/css3";

.content
{
    color: #d5d5d5;
    line-height: 1.5em;
}
.less-important
{
    color: #a6a7a7;
}

.margin-top
{
    height: 15px;
}

.news
{
    font-size: 1.1em;
    padding: 0;
}

.gamefeed
{
	.playershare span
	{
		height: 36px; line-height: 36px;
		vertical-align: middle;
		color: #bfbfbf;
		font-size: 0.8em;
	}
	.content
	{
		padding-top: 15px; padding-bottom: 15px;
   		border-bottom: 1px solid rgba(255, 255, 255, 0.2);

   		.infos
   		{
			padding-left: 10px;
			color: #a6a7a7;
			font-size: 0.8em;
			margin-top: 5px;
   		}
	}
}

.main-content
{
	background: rgba(0, 0, 0, 0.8);
	padding: 15px; padding-top: 0px;

	.title
   	{
		background: rgba(0, 0, 0, 0.8);
   		h4
   		{
			padding: 5px;
			padding-left: 15px;
			margin: 0;
			margin-bottom: 15px;
   		}
   	}
}