/* line 5, ../scss/style.scss */
body {
  background-image: url("../images/background2.jpg");
  background-position: top center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: #000000;
  font-family: "Lato";
}

/* line 14, ../scss/style.scss */
.clear {
  clear: both;
}

/* line 19, ../scss/style.scss */
header {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#99000000', endColorstr='#E6000000');
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(0, 0, 0, 0.6)), color-stop(50%, rgba(0, 0, 0, 0.9)), color-stop(100%, rgba(0, 0, 0, 0.6)));
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6));
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6));
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6));
  background-image: linear-gradient(left, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6));
  margin-bottom: 0px;
  width: 1100px;
  margin: 0 auto;
  margin-top: 60px;
}
/* line 36, ../scss/style.scss */
header #header-logo {
  background-image: url("../images/logo.png");
  height: 72px;
  width: 78px;
  margin: 0 auto;
}

/* line 45, ../scss/style.scss */
footer {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#99000000', endColorstr='#E6000000');
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(0, 0, 0, 0.6)), color-stop(50%, rgba(0, 0, 0, 0.9)), color-stop(100%, rgba(0, 0, 0, 0.6)));
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6));
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6));
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6));
  background-image: linear-gradient(left, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6));
  width: 1100px;
  margin: 0 auto;
  margin-top: 60px;
  text-align: center;
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
  color: #D1D1D1;
}
/* line 66, ../scss/style.scss */
footer:after {
  content: "";
  height: 40px;
}
/* line 72, ../scss/style.scss */
footer span {
  color: white;
}

/* line 78, ../scss/style.scss */
nav ul {
  margin: 0;
}
/* line 81, ../scss/style.scss */
nav ul li {
  text-align: center;
  background: rgba(0, 0, 0, 0.8);
  border: 1px solid #333e4a;
  cursor: pointer;
  color: white;
  text-transform: uppercase;
  font-family: "Lato";
  font-size: 1.4em;
  font-weight: 300;
}
/* line 93, ../scss/style.scss */
nav ul li:hover, nav ul li.selected {
  background: #ebe8e3;
  color: #20201f;
}

/* line 101, ../scss/style.scss */
.wrapper {
  margin-top: 20px;
}

/* line 106, ../scss/style.scss */
#sidebar {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#E6000000', endColorstr='#99000000');
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(0, 0, 0, 0.9)), color-stop(100%, rgba(0, 0, 0, 0.6)));
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6));
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6));
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6));
  background-image: linear-gradient(left, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6));
}
/* line 117, ../scss/style.scss */
#sidebar .title {
  background: rgba(0, 0, 0, 0.8);
}
/* line 120, ../scss/style.scss */
#sidebar .title h4 {
  padding: 5px;
  padding-left: 15px;
  margin: 0;
}
/* line 127, ../scss/style.scss */
#sidebar .content {
  color: #c5c5c6;
  font-family: "Lato";
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 0.8em;
  padding: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: -1px;
  line-height: 1.2em;
}
/* line 139, ../scss/style.scss */
#sidebar .content .infos {
  padding-left: 10px;
  color: #a6a7a7;
  font-size: 0.8em;
  margin-top: 5px;
}
/* line 147, ../scss/style.scss */
#sidebar .content:hover {
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #ebe8e3), color-stop(100%, rgba(235, 232, 227, 0.9)));
  background-image: -webkit-linear-gradient(left, #ebe8e3, rgba(235, 232, 227, 0.9));
  background-image: -moz-linear-gradient(left, #ebe8e3, rgba(235, 232, 227, 0.9));
  background-image: -o-linear-gradient(left, #ebe8e3, rgba(235, 232, 227, 0.9));
  background-image: linear-gradient(left, #ebe8e3, rgba(235, 232, 227, 0.9));
  color: #20201f;
}
/* line 158, ../scss/style.scss */
#sidebar .content:hover .infos {
  color: #303030;
}

/* line 165, ../scss/style.scss */
#instantclick-bar {
  background: #ffffff;
}
